
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/bootstrap.css" type=""text/css" />
    <title>Agenda de Contatos</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Agenda de Contatos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/Home/Index">Página Inicial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Usuario/MinhaConta">Minha Conta</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gerenciar Contatos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Contatos/Cadastro">Cadastrar Contatos</a></li>
            <li><a class="dropdown-item" href="/Contatos/Consulta">Consultar Contatos</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/Contatos/Relatorio">Relatório de Contatos</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
    @RenderBody()
</div>

    <script type="text/javascript" src="~/js/bootstrap.bundle.js"></script>
</body>
</html>
